<footer>
	<div class="footer-container">
		<div>
			<img src="dist/img/footer-logo.png" alt="soulfx logo image">
			<div>
				<p>(555)-555-5555</p>
				<p>Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
		<div>
			<p>Copyright &copy2017 Soulfx technologies Inc. All rights reserved.</p>
			<div>
				<p>Contact</p>
				<p>Terms & Conditions</p>
				<p>Privacy Policy</p>
			</div>
		</div>
	</div>
</footer>