<header class="header">
	<div class="header__item logo">
		<img src="dist/img/logo.png" alt="soulfx logo">
	</div>

	<div class="header__item header__item--size">
		<p>Font Size:
			<span>A</span>
			<span>A</span>
			<span>A</span>
		</p>
	</div>

	<div class="header__item">
		<div class="header__item-nav">
			<nav>
				<ul>
					<li>Contact Us</li>
					<li>Support</li>
					<li>Login</li>
					<li>FR</li>
				</ul>
			</nav>
		</div>
		<div class="header__item-info">
			<div>
				<img src="dist/img/about-us-icon.png" alt="about us icon">
				<p>About Us</p>
			</div>
			<div>
				<img src="dist/img/faq-icon.png" alt="about us icon">
				<p>FAQs</p>
			</div>
		</div>
	</div>

	<div class="header__item hide-me">
		&#9776;
	</div>
</header>

