<main>
	<section class="hero-image">
		<div>
			<div class="welcome-info">
				<p>Welcome to Lorem Ipsin</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus reprehenderit facilis mollitia porro autem provident.</p>
				<button>Learn More</button>
			</div>
			<div class="more-info">
				<div>
					<img src="dist/img/paper-icon.png" alt="A4 papaer icon">
					<p><a href="#">Lorem ipsum </a>dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				<div>
					<img src="dist/img/paper-icon.png" alt="A4 papaer icon">
					<p><a href="#">Lorem ipsum </a>dolor sit amet, consectetur adipis.</p>
				</div>
			</div>
		</div>
		<div class="login-form">
			<form action="post">
				<p>Already registered? Login below:</p>
				<label class="hide-me" for="loginEmail">Email</label>
				<input type="text" placeholder="Email Address">
				<label class="hide-me" for="loginPassword">Email</label>
				<input type="text" placeholder="Enter Password">
				<div>
					<a href="#">Forgot Password</a>
					<button>Login</button>
				</div>
			</form>
		</div>
	</section>

	<section class="easy-steps">
		<h2>It's as easy as...</h2>
		<div>
			<div>
				<p class="circle">1</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span>sint veritatis</span> Quis, voluptates quod ipsa adipisci.</p>
				<img src="dist/img/step1-icon.png" alt="step 1 icon">
			</div>
			<div>
				<p class="circle">2</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint <span>veritatis voluptates</span> quod ipsa adipisci.</p>
				<img src="dist/img/step2-icon.png" alt="step 2 icon">
			</div>
			<div>
				<p class="circle">3</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, sint veritatis voluptates quod <span>ipsa adipisci.</span></p>
				<img src="dist/img/step3-icon.png" alt="step 3 icon">
			</div>
		</div>
	</section>

	<section class="get-started">
		<div class="get-started__video">
			<div>
				<h2>How to Get Started</h2>
				<ul>
					<li>
						<img src="dist/img/plus-symbol.png" alt="plus symbol">
						<p>Signup for an account</p>
					</li>
					<li>
						<img src="dist/img/plus-symbol.png" alt="plus symbol">
						<p>Submit a claim</p>
					</li>
					<li>
						<img src="dist/img/plus-symbol.png" alt="plus symbol">
						<p>Check claim status</p>
					</li>
				</ul>	
				<button>
					<i class="fa fa-play-circle" aria-hidden="true"></i>
					Watch Video
				</button>
			</div>
		</div>

		<div class="get-started__saving">
			<div>
				<div>
					<img src="dist/img/calculator.png" alt="calculator image">	
				</div>
				<h2>Savings Calculator</h2>
				<p>Approximately how much should I get back?</p>
				<button>Calculating Savings</button>
			</div>
		</div>
	</section>

	<section class="faqs">
		<h2>FAQs</h2>
		<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
		<div class="faqs-container">
			<div>
				<p class="questions"><span>Q</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit?</p>
				<p class="answers"><span>A</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit.</p>
				<p class="questions"><span>Q</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit?</p>
				<p class="answers"><span>A</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit.</p>
			</div>
			<div>
				<p class="questions"><span>Q</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit?</p>
				<p class="answers"><span>A</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit.</p>
				<p class="questions"><span>Q</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit?</p>
				<p class="answers"><span>A</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit.</p>
			</div>
		</div>
		
	</section>
</main>