.easy-steps {
	text-align: center;
	font-size: 1.2em;

	> div {
		display: flex;

		@media (max-width: 768px) {
			flex-direction: column;
		}

		div {
			width: calc(33.33% - 20px);
			padding: 10px;

			@media (max-width: 768px) {
				width: calc(100% - 20px);
				padding-bottom: 20px;
			}
		}

		span {
			font-weight: bold;
		}
	}
	margin: 20px 0 40px 0;
}

.circle {
	background: $global-blue;
	display: inline-block;
	width: 35px;
	padding: 12px;
	border-radius: 50%;
	color: #fff;
	font-size: 1.3em;
}

