.faqs {
	text-align: center;
	font-size: 1.4em;
	margin: 20px 0 40px 0;
}

.faqs-container {
	display: flex;

	text-align: left;

	div {
		width: 50%;
	}

	@media (max-width: 768px) {
		flex-direction: column;

		div {
			width: 90%;
			margin: 0 auto; 
		}
	}
}

.questions {
	span {
		color: $global-blue;
		display: inline-block;
	}
}
.answers {
	color: global-grey;

	span {
		color: blue;
	}
}