.get-started {
	display: flex;
	height: auto;
	@media (max-width: 768px) {
		flex-direction: column;
	}

	h2 {
		margin: 1em 0;
	}

	button {
		@extend .btn;
		background: $global-yellow;
		color: $global-blue;
		font-size: 1.1em;
		i {
			margin-right: 5px;
		}
	}
}

.get-started__video {
	width: 50%;
	padding: 20px;
	background: linear-gradient( 0deg, rgba(0, 0, 0, 0.4)), url("../img/get-started.png") no-repeat center;
	background-size: cover;
	
	color: #fff;

	p {
		display: inline-block;
		margin: 10px;
	}

	img {
		display: inline-block;
	}

	> div {
		width: 70%;
		margin: 0 auto;
	}

	@media (max-width: 768px) {
		min-width: 100%;
		text-align: center;
	}

}

.get-started__saving {
	width: calc(50% - 40px);
	background: #f0f0f0;
	padding: 20px;
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
	}
	> div {
		min-width: 100%;
		margin: 20px auto 0 auto;
	}

	@media (max-width: 768px) {
		min-width: 100%;
	}
}
