.header {
	display: flex;
	padding: 2em;
	color: $global-grey;

}

.header__item {
	width: 25%;
}

.header__item:nth-child(3) {
	width: 50%;
}

.header__item p {
	span {
		cursor: pointer;
	}

	span:first-child {
		color: $global-blue;
	}

	span:nth-child(2) {
		font-size: 1.5em;
	}

	span:last-child {
		font-size: 2em;
	}
}


nav ul {
	display: flex;
	li {
		width: 25%;
	}
}

.header__item-info {
	display: flex;
	justify-content: center;
	p {
		display: inline-block;
		font-weight: bold;
		font-size: 1.2em;
	}

	div {
		padding: 0 15px;
		width: 40%;
		text-align: center;
	}
}


.header__item:last-child {
	cursor: pointer;
}

@media (max-width: 876px) {
	.header__item--size {
		visibility: hidden;
	}
}

@media (max-width: 686px) {
	.header__item-nav, .header__item-info {
		display: none;
	}

	.header {
		padding: 0.5em;
	}
	.header__item {
		padding: 10px;
		width: 75px;
		height: 20px; 
		img {
			width: 100%;
		}
	}

	.header__item:last-child {
		width: auto;
	}
}